<!doctype html>
<html>
   <head>
      <meta charset="utf-8" />
      <meta name="Restaurant Mall" />
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='restaurantStyles.css')}}">
   </head>
   <body>
      <div id="navBar">
         <p><a href="/">home</a></p>
         <p><a href="about.html">about</a></p>
         <p><a href="donate.html">support</a></p>
      </div>
      <div id="contentWrapper">
         <p class="identify">Use this form to update the information our database about {{restaurant.name}}.</p>

         <div class="form">
            <form action="{{ url_for('editRestaurant', restaurant_id = restaurant.id)}}" method='POST'>
               <p class="menuItem">Enter the Restaurant's new name: <input type="text" name="restaurant_name" value="{{restaurant.name}}" /></p>
               <p class="menuItem">Restaurant's new address: <input type="text" name="restaurant_address" value="{{restaurant.address}}" /></p>
               <p class="menuItem">Restaurant's new telephone number: <input type="tel" name="restaurant_phone" value="{{restaurant.phone}}" /></p>
               <br/><input type="submit" value="update" />
            </form>
         </div>
      </div>
   </body>
</html>
